/* .card{
    display: flex;
    justify-content:space-around; 
    align-items: center;
}


.img_videos{
    width: 50%;
}
.card_container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background: red;
    width: 40%;
}



.buttons_card{
    display: flex;
    justify-content: space-around;
    align-items: center     ;

}


.buttons_card p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px
} */